
body {background-color: #71C671;}
header {color:#000000; font-size:24px; font-family: Verdana; text-align:center;}
main {color:#430530; font-size: 20px; font-family: serif; text-align: center;}
img {width:300px; height: 300px;}
footer {color: #405945; font-size:14px;}
